spring:
  application:
    name: enes-durmus-case

  datasource:
    url: jdbc:postgresql://localhost:5433/case_db
    username: case_user
    password: case_pass

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.orm.jdbc.bind: TRACE

  data:
    redis:
      host: localhost
      port: 6379
