spring:
  application:
    name: enes-durmus-case

  datasource:
    url: jdbc:postgresql://localhost:5433/case_db
    username: case_user
    password: case_pass

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cache:
    type: redis
    redis:
      time-to-live: 600
      cache-null-values: false

  data:
    redis:
      host: localhost
      port: 6379

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.orm.jdbc.bind: TRACE

